@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.main-menu {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main-menu a {
    color: black;
    text-decoration: unset;
    bottom: 0;
}

.banner {
    width: 1600px;
    height: 400px; 
}

.button {
    color: white;
    background-color: blue;
    height: 30px;
    border-width: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.rodape {
    z-index: 0;
}

.rodape img {
    
    width: 1600px;
    height: 500px; 
}

.fale-conosco {
    size: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}