.box {
    width: 400px;
    height: 400px;
    background-color: salmon;
}

@media (max-width: 768px) {
    .box {
        background-color: red;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .box {
        background-color: red;
        width: 100%;
    }
}